[Desktop Entry]
Comment=Color temperature adjustment tool
Name=Redshift
Exec=redshift-gtk
StartupNotify=true
Terminal=false
GenericName=Color temperature adjustment
Version=1.8
X-GNOME-Autostart-enabled=true
Type=Application
Categories=Utility;
Icon=redshift
NoDisplay=false
